.app-signin {
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fafafa;
  color: #111111;
}

.app-signin-form {
  padding: 32px;
  width: 50vw;
  min-width: 320px;
  max-width: 420px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, .01);
  transition: ease-in-out .2s;
  font-size: calc(14px + .1vw);
}

.app-signin-form footer {
  text-align: center;
  margin-top: calc(24px + .1vh);
}

.app-signin-form footer a {
  padding: 5px;
}
