.Fabric-Stepper-Header {
    background: #f4f4f4;
    height: 56px;
    display: flex;
    align-items: stretch;
    margin-bottom: 20px;
}

.Fabric-Stepper-Header div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: rgba(0,0,0,.6);
    font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.Fabric-Stepper-Header div.is-open {
    background: #00b294;
    color: white;
    font-weight: bold;
}

.Fabric-Stepper-Step {
    display: none;
    background: red;
}

.Fabric-Stepper-Step.is-open { 
    display: initial;
}

.Fabric-Stepper-Buttons {
    display: flex;
    justify-content: space-between;
}