header.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-account {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-logo {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
}

.header-logo #app-name {
    font-size: 18px;
    font-weight: bold;
    color: rgba(0,0,0,.8);
}

.header-logo #location {
    font-size: 12px;
    color: rgba(0,0,0,.8);
}

header.header .ms-Custom-Persona {
    height: 100%;
    flex-direction: row-reverse;
    padding-right: 16px;
    cursor: pointer;
    transition: ease-in-out .2s;
}

header.header .ms-Custom-Persona:hover {
    background: rgba(0,0,0,.05);
}

header.header .ms-Custom-Persona .ms-Persona-details {
    padding-right: 16px;
}

.ms-Account-Panel .ms-Panel-main {
    margin-top: 63px;
}

.ms-Account-Panel .ms-Panel-header {
    margin-top: 0;
}