.login {
    flex: 1;
    background: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    flex-shrink: 0;
    width: 380px;
    padding: 20px;
    background: white;
    box-shadow: 0 1px 6px rgba(0,0,0,.1);
}

.login-action {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-header div:first-child {
    display: flex;
    align-items: center;
}

.login-header .ms-Button--icon {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
}

.login-header .ms-Button--icon .ms-Icon {
    margin: 0;
    padding: 0;
    line-height: initial;
    font-size: 18px;
    margin-left: 4px;
}

.login-header span {
    font-size: 28px;
    text-transform: uppercase;
    margin-left: 20px;
    color: rgba(0,0,0,.6);
}

.login-footer {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}