.app-page {
  flex: 1;
  height: calc(100vh - var(--sz-main-height));
  overflow: hidden;
  overflow-y: auto;
}

.app-page .app-page-context {
  max-width: 960px;
  min-width: 500px;
  margin: 0 auto;
  margin-top: 32px;
}
